.page {
	background-color: #EDEDED;
	/* #ifndef APP-PLUS-NVUE */
	min-height: 100%;
	height: auto;
	/* #endif */
	/* #ifdef APP-PLUS-NVUE */
	flex: 1;
	/* #endif */
}

.primary-bg-color {
	background-color: #08C060;
}

.primary-text-color {
	color: #08C060;
}

.text-white{
	color:white;
}